:host {
    --color-fg-primary: #44BBA4;
    --color-bg-inrange: #EBFFFB;
    --color-fg-selected: #fff;
    --color-btn-primary-bg: #44BBA4;
    --color-btn-primary-fg: #fff;
    --color-btn-primary-border: #44BBA4;
    --color-btn-primary-hover-bg: #3A545C;
    --color-btn-primary-hover-fg: #fff;
    --color-btn-primary-hover-border: #3A545C;
    --color-btn-primary-disabled-bg: #3A545C;
    --color-btn-primary-disabled-fg: #fff;
    --color-btn-primary-disabled-border: #3A545C;
    --color-btn-secondary-bg: #fff;
    --color-btn-secondary-fg: #748194;
    --color-btn-secondary-border: #748194;
    --color-btn-secondary-hover-bg: #748194;
    --color-btn-secondary-hover-fg: #fff;
    --color-btn-secondary-hover-border: #748194;
    --color-btn-secondary-disabled-bg: #b5bbc4;
    --color-btn-secondary-disabled-fg: #fff;
    --color-btn-secondary-disabled-border: #b5bbc4;
    --color-border-default: #ddd;
    --day-width: 55px;
    --day-height: 45px;
}
.calendar {
  width: 420px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 90%;
  color: #748194;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}
.container.range-plugin .calendar > .days-grid > .day.end .day-price{
  color: #fff;
}
.calendar > .header .month-name {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
}
.container > footer .footer-buttons > button.apply-button {
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
    color: var(--color-btn-primary-fg);
    height: 40px;
    width: 120px;
    border-radius: 999px;
    font-size: 18px;
    font-weight: bold;
}
.container > footer .footer-buttons > button.cancel-button {
    background-color: var(--color-btn-secondary-bg);
    border-color: var(--color-btn-secondary-border);
    color: var(--color-btn-secondary-fg);
    height: 40px;
    width: 120px;
    border-radius: 999px;
    font-size: 18px;
    font-weight: bold;
}