:host {
    --color-fg-primary: #44BBA4;
    --color-fg-secondary: #fff;
    --secondary-color: #fff;
    --color-bg-inrange: #EBFFFB;
    --color-btn-primary-bg: #44BBA4;
    --color-btn-primary-fg: #fff;
    --color-btn-primary-border: #44BBA4;
    --color-btn-primary-hover-bg: #3A545C;
    --color-btn-primary-hover-fg: #fff;
    --color-btn-primary-hover-border: #3A545C;
    --color-btn-primary-disabled-bg: #3A545C;
    --color-btn-primary-disabled-fg: #fff;
    --color-btn-primary-disabled-border: #3A545C;
    --color-btn-secondary-bg: #fff;
    --color-btn-secondary-fg: #748194;
    --color-btn-secondary-border: #748194;
    --color-btn-secondary-hover-bg: #748194;
    --color-btn-secondary-hover-fg: #fff;
    --color-btn-secondary-hover-border: #748194;
    --color-btn-secondary-disabled-bg: #b5bbc4;
    --color-btn-secondary-disabled-fg: #fff;
    --color-btn-secondary-disabled-border: #b5bbc4;
    --color-border-default: #ddd;
    --day-width: 55px;
    --day-height: 45px;
}
.calendar {
  width: 420px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 90%;
  color: #748194;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}