:host {
    --color-btn-primary-bg: #44BBA4;
    --color-btn-primary-fg: #fff;
    --color-btn-primary-border: #44BBA4;
    --color-btn-primary-hover-bg: #3A545C;
    --color-btn-primary-hover-fg: #fff;
    --color-btn-primary-hover-border: #3A545C;
    --color-btn-primary-disabled-bg: #a2b0ff;
    --color-btn-primary-disabled-fg: #fff;
    --color-btn-primary-disabled-border: #a2b0ff;
    --color-btn-secondary-bg: #fff;
    --color-btn-secondary-fg: #748194;
    --color-btn-secondary-border: #748194;
    --color-btn-secondary-hover-bg: #748194;
    --color-btn-secondary-hover-fg: #fff;
    --color-btn-secondary-hover-border: #748194;
    --color-btn-secondary-disabled-bg: #b5bbc4;
    --color-btn-secondary-disabled-fg: #fff;
    --color-btn-secondary-disabled-border: #b5bbc4;
    --color-border-default: #ddd;
}
.calendar {
  width: 330px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 80%;
  color: #2196f3;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}